@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.skeleton {
	background-color: #cccccc;
	border-radius: 8px;
	animation: pulse 1.5s infinite ease-in-out;
}
