.clientsPage {
	width: 80%;
	padding: 0 24px;
}

.topPage {
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.addButton {
	border-width: 0;
	transition: 1.5s;
}

.addButton:hover {
	background-color: var(--primary);
}

.addButton a {
	color: white;
}

@media screen and (max-width: 500px) {
	.clientsPage {
		width: 100%;
		padding: 0;
	}
}
